*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.hello{
    color: green;
    padding-top: 20vh;
    padding-bottom: 10vh;


}

.hello:hover{
    transform: rotate(360deg);
    text-shadow: 5rem 10rem 20rem rgba(black, .2);
    transition-duration: 1s;
    padding-top: 20vh;
    padding-bottom: 20vh;
}



.coool{
    color: lime;
    text-shadow: 5rem 10rem 20rem rgba(black, .2);
    font-size: x-large;    

    
}

.coool:hover{
    transform: skewY(10deg) scale(1.3);
    text-shadow: 5rem 10rem 20rem rgba(black, .2);
}

.layout{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, yellow,red);
    background-size: cover;
    text-align: center;



}


.centering{
    padding-top: 20vh;
}